<% include header %>

<style type="text/css">
	.video-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px; height: 0; overflow: hidden;
		}
		 
		.video-container iframe,
		.video-container object,
		.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 70%;
		}
</style>

<aside class="fh5co-page-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="fh5co-page-heading-lead">
						About SPC
						<span class="fh5co-border"></span>
					</h1>
					
				</div>
			</div>
		</div>
	</aside>


		<div class="fh5co-spacer fh5co-spacer-lg"></div>		
		<!-- Products -->
		<div class="container" id="fh5co-products">
			<div class="row text-left">
				<div class="col-md-8">
					<h2 class="fh5co-section-lead">About us</h2>
					<h3 class="fh5co-section-sub-lead">Swiftpay Community is a system that has the tendency to unite individuals from all parts of the country by helping each other through recycling method, swiftpay is not a bank but rather a system that makes us understand how we can help each other with the little we have without going to ask for a loan or engaging in any criminal act just to survive. </h3>
				</div>
			
				<div class="fh5co-spacer fh5co-spacer-md"></div>
			</div>
			<div class="row text-left">
				<div class="col-md-10">
					<h2 class="fh5co-section-lead">Our vision</h2>
					<h3 class="fh5co-section-sub-lead">Swiftpay Community is organised by  honest  individuals with great vision to build a nation where poverty is reduced, an online community where ordinary people from every part of the world come together to help each other make extra money to support family, businesses, education and every other problem that money can solve... poverty is a disease with out a cure, the only prescription for poverty is wealth, make more money as long as the money keeps coming you will live a healthy life, so we can fight it together by making extra profit participating here in swift-pat. </h3>
				</div>
				<div class="fh5co-spacer fh5co-spacer-md"></div>
			</div>

			<div class="row text-left">
				<div class="col-md-12">
					<h2 class="fh5co-section-lead">How we work</h2>
					<div class="video-container c">
					<iframe width="553" height="280" src="" frameborder="0" allowfullscreen></iframe>
				</div>
				</div>
				<div class="fh5co-spacer fh5co-spacer-md"></div>
			</div>
		</div>
		<!-- Products -->
	
<% include footer %>