<% include header %>

<div class="fh5co-slider">
		<div class="owl-carousel owl-carousel-fullwidth">
		    <div class="item" style="background-image:url(images/slide_1.jpg)">
		    	<div class="fh5co-overlay"></div>
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text text-center to-animate">
						    		<h1 class="fh5co-lead">Welcome to Swiftpay Community</h1>
									<h2 class="fh5co-sub-lead">
										Poverty is a disease with a cure, the only prescription for poverty is wealth.
									<a href="/user/register">JOIN US</a></h2>
						    	</div>
						    </div>
					    </div>
		    		</div>
		    	</div>
		    </div>
		    <div class="item" style="background-image:url(images/slide_2.jpg)">
		    	<div class="fh5co-overlay"></div>
		    	<div class="container">
		    		<div class="row">
		    			<div class="col-md-8 col-md-offset-2">
			    			<div class="fh5co-owl-text-wrap">
						    		<div class="fh5co-owl-text text-center to-animate">
						    		<h1 class="fh5co-lead">Welcome to Swiftpay Community</h1>
									<h2 class="fh5co-sub-lead">
										Poverty is a disease with a cure, the only prescription for poverty is wealth.
									<a href="/user/register">JOIN US</a></h2>
						    	</div>
						    </div>
					    </div>
		    		</div>
		    	</div>
		    </div>
		</div>
	</div>	

<div id="fh5co-main">
		<!-- Features -->

		<div id="fh5co-features">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="fh5co-section-lead" style="text-decoration: underline;">Who we are</h2>
						<h3 class="fh5co-section-sub-lead">
							SWIFTPAY COMMUNITY is organised by honest  individuals with great vision to build a nation where poverty is reduced, it's an online community where ordinary people from around the world come together to help each other make extra money to support family, businesses, education and every other problem that money can solve... 
						</h3>
					</div>
					<div class="fh5co-spacer fh5co-spacer-md"></div>
				</div>
				
			</div>
		</div>
		<!-- Features -->



<% include footer %>