<% include loginheader %>


<% include loginsidebar %>

  <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
		 <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-user"></i>Messages</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-user"></i>Messages</li>	
					</ol>
				</div>
			</div>
 <% if (errors == ""){ %>
  	<div></div>
    <% } else { %>
   		<div role="alert" class="alert alert-danger"><%= errors %></div>
     <% } %>
     <% if (infos == ""){ %>
  	<div></div>
    <% } else { %>
   		<div role="alert" class="alert alert-success"><%= infos %></div>
     <% } %>
				<div class="row">
                 </div>
          </section>
      </section>
      <!--main content end-->
		 
	  				

<% include loginfooter %>