<% include header %>

<aside class="fh5co-page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="fh5co-page-heading-lead">
                       Password recovery
                        <span class="fh5co-border"></span>
                    </h1>
                    
                </div>
            </div>
        </div>
    </aside>
<div class="container">
</div>
	 
<div class="container con">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
		 <form action="/user/recovery" method="POST" id="signupForm">
			 <div class="form-group">
	            <label for="name-login">Email</label>
	            <input class="form-control" name="username" placeholder="Enter your email address" type="email">
	        </div>
	            <div class="form-group">
                   <input type="submit" class="btn form-control btn-primary " value="Send">
                </div>
	      </form>
		</div>
	</div>s
</div>

<% include footer %>